<style>
  @import url('https://fonts.googleapis.com/css2?family=Charm:wght@700&family=Noto+Sans+Thai+Looped:wght@400;800;900&family=Noto+Sans+Thai:wght@300;400;900&family=Pattaya&family=Sarabun:ital,wght@1,500;1,800&family=Taviraj&display=swap');
</style>
<mat-dialog-content class="dialog-content">
    <p style="font-family: 'Charm', cursive;
    font-family: 'Noto Sans Thai', sans-serif;
    font-family: 'Noto Sans Thai Looped', sans-serif;
    font-family: 'Pattaya', sans-serif;
    font-family: 'Sarabun', sans-serif;
    font-family: 'Taviraj', serif;  font-weight: bold;">คุณแน่ใจหรือไม่ที่จะลบข้อมูลนี้?</p>
  </mat-dialog-content>
  <mat-dialog-actions class="dialog-actions">
    <button mat-button class="cancel-button" (click)="onCancelClick()" style="font-family: 'Charm', cursive;
    font-family: 'Noto Sans Thai', sans-serif;
    font-family: 'Noto Sans Thai Looped', sans-serif;
    font-family: 'Pattaya', sans-serif;
    font-family: 'Sarabun', sans-serif;
    font-family: 'Taviraj', serif; ">ยกเลิก</button>
    <button mat-button color="warn" class="delete-button" (click)="onDeleteClick()" style="font-family: 'Charm', cursive;
    font-family: 'Noto Sans Thai', sans-serif;
    font-family: 'Noto Sans Thai Looped', sans-serif;
    font-family: 'Pattaya', sans-serif;
    font-family: 'Sarabun', sans-serif;
    font-family: 'Taviraj', serif;">ลบ</button>
  </mat-dialog-actions>
  