
 <!-- lottery-search.component.html -->
<style>
  @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai+Looped:wght@800;900&family=Noto+Sans+Thai:wght@300;400;900&display=swap");
</style>
<div
  class="ktiYLN"
  style="
    font-family: 'Noto Sans Thai', sans-serif;
    font-family: 'Noto Sans Thai Looped', sans-serif;
  "
>
  <mat-card class="card-body">
    <div class="dJSzKI mb-1 mt-4 p-4 pt-1 text-center">
      <span data-testid="search-box_round-date" class="responsive-font"> ลอตเตอรี่งวดวันที่ * </span>
    </div>
    <div class="d-flex block-input flex-nowrap px-2 ps-2" id="input">
      <mat-form-field appearance="outline">
        <input
          matInput
          type="number"
          aria-label="search0"
          class="inputByNumPad"
          id="input"
          data-testid="search-box_input"
          value="5"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input
          matInput
          type="number"
          aria-label="search1"
          class="inputByNumPad"
          data-testid="search-box_input"
          value="6"
          id="input"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input
          matInput
          type="number"
          aria-label="search2"
          class="inputByNumPad"
          data-testid="search-box_input"
          value="1"
          id="input"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input
          matInput
          type="number"
          aria-label="search3"
          class="inputByNumPad"
          data-testid="search-box_input"
          value="6"
          id="input"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input
          matInput
          type="number"
          aria-label="search4"
          class="inputByNumPad"
          data-testid="search-box_input"
          value="5"
          id="input"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input
          matInput
          type="number"
          aria-label="search5"
          class="inputByNumPad"
          data-testid="search-box_input"
          value=""
          id="input"
        />
      </mat-form-field>
      <div class="d-flex flex-wrap">
        <mat-card class="card-body" *ngIf="lotteryResults.length > 0">
          <mat-grid-list cols="4" rowHeight="2:1">
            <mat-grid-tile *ngFor="let result of lotteryResults">
              <!-- แสดงข้อมูลลอตเตอรี่ -->
              <div class="lottery-item">
                <!-- <img
                  [src]="result"
                  alt="Lottery Image"
                  class="lottery-image"
                /> -->
                <p>งวด: {{ result.period }}</p>
                <p>ชุด: {{ result.set_number }}</p>
                <p>จำนวน: {{ result.ticket_number }}</p> 
                <p>ราคา: {{ result.price }}</p>
                <p>วันเวลา: {{ result.created_at }}</p>
              </div>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-card>
      </div>
      <div class="d-flex justify-content-center">
        <mat-card-actions class="fxLayout" id="card-actions">
          <button mat-flat-button color="primary" class="login-button" id="login-button">
            <mat-icon>search</mat-icon> ค้นหาเลย !
          </button>
        </mat-card-actions>
      </div> 
    </div>
  </mat-card>
</div>
