<style>
    @import url('https://fonts.googleapis.com/css2?family=Charm:wght@700&family=Noto+Sans+Thai+Looped:wght@400;800;900&family=Noto+Sans+Thai:wght@300;400;900&family=Pattaya&family=Sarabun:ital,wght@1,500;1,800&family=Sriracha&family=Taviraj&display=swap');
  </style>
<mat-card >
    <mat-card-header>
      <mat-card-title style="font-family: 'Charm', cursive;
      font-family: 'Noto Sans Thai', sans-serif;
      font-family: 'Noto Sans Thai Looped', sans-serif;
      font-family: 'Pattaya', sans-serif;
      font-family: 'Sarabun', sans-serif;
      font-family: 'Sriracha', cursive;
      font-family: 'Taviraj', serif;">Personal Information</mat-card-title>
      <mat-card-subtitle style=" font-weight: bold; font-family: 'Charm', cursive;
      font-family: 'Noto Sans Thai', sans-serif;
      font-family: 'Noto Sans Thai Looped', sans-serif;
      font-family: 'Pattaya', sans-serif;
      font-family: 'Sarabun', sans-serif;
      font-family: 'Sriracha', cursive;
      font-family: 'Taviraj', serif;">คุณ ?</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div>
     <p>คำนำหน้า</p>
       <p>ชื่อ</p>
       <p>นามสกุล</p> 
       <p>วันเกิด</p> 
       <p>เบอร์โทร</p> 
           <p>อีเมล์</p>
      </div>
    </mat-card-content>
    <mat-card-footer>
        
    </mat-card-footer>
  </mat-card>
  